.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

button {
  margin-top: 15px;
  padding: 15px;
  background-color: red;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  box-shadow: 5px 5px 5px black;
  text-decoration: none;
}